/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transform: translateX(150px) 
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 10s;

}

.transition-demo img:hover {
  filter: none;
  transform: rotate(360deg) scale 2.0);

}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation: sale-bar 10s;

}

@keyframes sale-bar {
  0% { background-color: lightgreen; width: 450px }
  25% { background-color: purple; width: 350px }
  50% { background-color: yellow; width: 450px }
  75% { background-color: #FF033E; width: 125x }
  100% { background-color: crimson; width: 10px }
}
section

div class="inner-div"


.inner -div
bqackground
::-webkit-slider-thumbheight
aniumation



background
::-webkit-slider-thumbheight
aniumation:

@keyframes Gilbert-moves{
  @keyframes sale-bar {
    0% {transform: translateX(0) translate Y(0)background purple}
    25% { background-color: purple; width: 350px }
    50% { background-color: yellow; width: 450px }
    75% { background-color: #FF033E; width: 125x }
    100% { background-color: crimson; width: 10px }


}